body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #7581a1;
    line-height: 26px;
}
a {
    text-decoration: none;
}
.wrap {
    max-width: 1110px;
    margin: 0 auto;
}
.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
}
.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color:#1085e4;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.logo {
    display: block;
    background-image: url(../Layout/logo.png);
    width: 181px;
    height: 49px;
}

.btn {
	color: #fff;
    background-color: #1085e4;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 38px;
    border-radius: 30px;
    letter-spacing: 2.45px;
    border: 2px solid #1085e4;
}
.btn:hover {
    color: #1085e4;
    background-color: #fff;
}
.btn-sec {
	color: #8693b4;
    background-color: #cbdbe8;
    margin-left: 18px;
    border: 2px solid #cbdbe8;
}
.btn-sec:hover {
    color: #8693b4;
    background-color: #fff;
}

.page-header {
    background-image: url(../Layout/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 332px 0;
    position: relative;
}
.page-header .image_hed {
    display: block;
    background-image: url(../Layout/bg.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    top: 200px;
    right: 0px;
}
.page-header h1 {
    max-width: 540px;
    line-height: 90px;
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -2.3px;
}
.page-header .links {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.page-header .wrap div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    margin-bottom: 305px;
}
.page-header .menu {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 0;
}
.page-header .menu li {
    margin-left: 39px;
    list-style-type: none;
    letter-spacing: 2.4px;
}
.page-header .menu .menu-item {
    color: #6e7ea9;
}
.page-header .free_trail {
    margin-left: -4px;
    font-weight: 400;
    padding: 21px 55px;
    letter-spacing: 1.55px;
}


.page-company {
    background-color: #1e8ce6;
    background-image: url(../Layout/layer_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 274px;
}
.page-company ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 106px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-company ul li {
    display: block;
    flex-basis: 18%;
    background-repeat: no-repeat;
}
.page-company ul li:nth-child(1) {
    background-image: url(../Layout/company_1.png);
    height: 58px;
    width: 198px;
}
.page-company ul li:nth-child(2) {
    background-image: url(../Layout/company_2.png);
    height: 69px;
    width: 200px;
}
.page-company ul li:nth-child(3) {
    background-image: url(../Layout/company_3.png);
    height: 47px;
    width: 201px;
}
.page-company ul li:nth-child(4) {
    background-image: url(../Layout/company_4.png);
    height: 69px;
    width: 200px;
}


.page-grid {
    margin-top: 210px;
}
.page-grid .grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
    text-transform: capitalize;
}
.page-grid .grid h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}
.page-grid .grid_elem h3 {
    font-weight: 600;
    font-size: 20px;
    color: #192b59;
}
.page-grid .grid_elem a {
    color: #1085e4;
    font-size: 14px;
    font-weight: 600;
}
.page-grid .grid div:last-child p:last-child {
    font-weight: 400;
    color: #1085e4;
    font-size: 14px;
}
.page-grid .grid div:last-child p:last-child span{
    font-weight: 700;
    color: #192b59;
    font-size: 16px;
}


.page-subscribe {
    width: 100%;
	height: 521px;
	background-image: linear-gradient(-30deg, #0a2090, #2377cd);
}
.page-subscribe .wrap {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.page-subscribe h3 {
    font-weight: 600;
    font-size: 50px;
    color: #ffffff;
    letter-spacing: -1.6px;
    margin: 0;
}
.page-subscribe h3 span {
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    color: #00bffe;
    display: block;
    letter-spacing: 2.9px;
    padding-bottom: 31px;
}
.page-subscribe p {
    font-size: 18px;
    font-weight: 400;
    color: #dfe8ff;
    padding-top: 45px;
    margin: 0;
    width: 410px;
    line-height: 27px;
}
.page-subscribe .robot {
    background-image: url(../Layout/robot.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 354px;
    height: 417px;
}
.page-subscribe input {
    padding: 0;
}
.page-subscribe .btn-sub {
    padding: 13px 42px;
    letter-spacing: 2.85px;
    font-size: 14px;
}


.page-software h2, .page-state h2{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-software dt {
    font-size: 16px;
    font-weight: 700;
    color: #5a6789;
}
.page-software dd {
    font-size: 14px;
}

.page-state {
    background-color: #edf6ff;
    padding: 115px 0px 95px 0px;
}
.page-state h2 span {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    color: #1085e4;
    display: block;
}
.page-state li {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #1085e4;
    list-style-type: none;
    display: inline-block;
    margin-right: 80px;
}
.page-state li span {
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
    display: block;
    line-height: 50px;
}
.page-state .list-state {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.page-state .list-state li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}
.page-state .list-state li span {
    display: block;
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
    margin-bottom: 20px;
    letter-spacing: 0px;
}
.page-state .title-h2 {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.page-app h2, .page-possibility-1 h2, .page-possibility-2 h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-app h3 {
    font-size: 16px;
    font-weight: 700;
    color: #c4d2dd;
    text-transform: uppercase;
}
.page-app li {
    list-style-type: none;
    display: inline;
}

.page-possibility-2 .btn-lrn {
    padding: 20px 62px;
}

.page-details {
    background-color: #edf6ff;
    padding: 80px 0 0 0;
    text-align: center;
}
.page-details .title-h2 {
    font-size: 40px;
    letter-spacing: -1.1px;
}
.page-details .title-h2 span {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}
.page-details img:last-child {
    margin-top: 40px;
    margin-bottom: -10px;
}
.page-details h2{
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}
.page-details h2 span {
    color: #1085e4;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
}


.page-clients p {
    font-size: 14px;
}
.page-clients div p:nth-child(2) {
    font-weight: 600;
    font-size: 22px;
    color: #000958;
}
.page-clients div p:last-child {
    font-weight: 700;
    font-size: 14px;
    color: #1085e4;
    text-transform: uppercase;
}
.page-clients h2 {
    font-weight: 600;
    font-size: 40px;
    color: #fff;
}
.page-clients h2 span{
    font-weight: 800;
    font-size: 18px;
    color: #85c8ff;
    text-transform: uppercase;
    display: block;
}


.page-plans {
    text-align: center;
}
.page-plans .box-plans {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.page-plans .box-plans>div {
    background-color: #f5faff;
    flex-basis: 32%;
    padding: 90px 0 96px 0;
    position: relative;
}

.page-plans .box-plans>div h3 {
    color: #000958;
    font-size: 70px;
    letter-spacing: -1px;
    margin-bottom: 15px;
    margin-top: 0px;
}
.page-plans .box-plans>div h3 span {
    font-size: 20px;
}
.page-plans .box-plans>div p {
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.page-plans .box-plans>div h3 span:first-child {
    color: #000958;
}
.page-plans .box-plans>div h3 span:first-child {
    color: #fff;
}
.page-plans .box-plans>div h3 span:last-child {
    color: #7b8ab2;
}
.page-plans .box-plans>div:nth-child(2) {
    background-color: #152b59;
    color: #fff;
}
.page-plans .box-plans>div ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 34px;
    margin-bottom: 60px;
    font-size: 14px;
}
.page-plans .box-plans>div ul>li {
    margin-bottom: 14px;
}
.page-plans .box-plans>div::after {
    content: "";
    width: 58px;
    height: 100%;
    background-image: url(../Layout/bg_plans.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}
.page-plans .box-plans>div:nth-child(2)::after {
    display: none;
}

.page-plans h2 {
    font-weight: 600;
    font-size: 40px;
    color: #192b59;
}
.page-plans h2 span {
    font-weight: 800;
    font-size: 18px;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}
.page-plans .box-plans .inactive h3 {
    font-weight: 700;
    font-size: 70px;
    color: #000958;
}
.page-plans .box-plans .inactive p {
    font-weight: 700;
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
}
.page-plans .box-plans .inactive li {
    font-weight: 400;
    font-size: 14px;
    color: #8085b1;
    list-style-type: none;
}

.page-plans .box-plans div:nth-child(2) h3 {
    font-weight: 700;
    font-size: 70px;
    color: #fff;
}
.page-plans .box-plans div:nth-child(2) h3 span:first-child {
    font-size: 20px;
}
.page-plans .box-plans div:nth-child(2) h3 span:last-child {
    font-size: 20px;
    color: #7b8ab2;
}
.page-plans .box-plans div:nth-child(2) p {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}
.page-plans .box-plans div:nth-child(2) li {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    list-style-type: none;
}
.page-plans .box-plans div:last-child h3 {
    font-weight: 700;
    font-size: 70px;
}
.page-plans .box-plans div:last-child h3 span:first-child {
    font-size: 20px;
}
.page-plans .box-plans div:last-child h3 span:last-child {
    font-size: 20px;
    color: #7b8ab2;
}
.page-plans .btn-info {
    padding: 20px 61px;
}
.page-plans .btn-inct {
    color: #8085b1;
    background: transparent;
    border: 2px solid #dce1e5;
}


.page-team h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.page-team h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #85c8ff;
    text-transform: uppercase;
    display: block;
}
.page-team div p:first-child {
    font-size: 14px;
    font-weight: 800;
    color: #1a88e1;
    text-transform: uppercase;
}
.page-team div p:last-child {
    font-size: 26px;
    font-weight: 600;
    color: #192b59;
}


.page-form h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}
.page-form form input {
    width: 514px;
	height: 70px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	background-color: #fff;
	border: solid 2px rgba(72,72,72,.1);
    text-indent: 30px;
    display: block;
}
.page-form form textarea {
    width: 514px;
	height: 160px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	background-color: #fff;
	border: solid 2px rgba(72,72,72,.1);
    text-indent: 30px;
    text-size-adjust: 100px;
    padding-top: 20px;
    display: block;
}
.page-form form button {
    width: 230px;
	height: 60px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 700;
    border: 0;
}


.footer p {
    font-size: 16px;
    font-weight: 400;
    color: #b6bae0;
}
.footer p a {
    font-size: 16px;
    font-weight: 400;
    color: #1085e4;
    text-transform: uppercase;
}
.footer li {
    display: inline;
}
