body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #7581a1;
    line-height: 26px;
}
a {
    text-decoration: none;
}

.btn {
	color: #fff;
    background-color: #1085e4;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 38px;
    border-radius: 30px;
    letter-spacing: 2.45px;
    border: 2px solid #1085e4;
}
.btn:hover {
    color: #1085e4;
    background-color: #fff;
}
.btn-sec {
	color: #8693b4;
    background-color: #cbdbe8;
    margin-left: 18px;
    border: 2px solid #cbdbe8;
}
.btn-sec:hover {
    color: #8693b4;
    background-color: #fff;
}

.page-header h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}
.page-header .links {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.page-header .menu {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    display: table;
    margin: auto;
}
.page-header .menu li {
    margin-right: 40px;
    display: inline;
}
.page-header .free_trail {
    font-weight: 400;
    padding: 21px 55px;
    letter-spacing: 1.55px;
}


.page-company {
    position: relative;
}
.page-company .company_img {
    width: 100%;
    position: absolute;
	width: 1920px;
	height: 274px;
    background-color: #1e8ce6;
}
.page-company ul {
    left: 50%;
    margin-left: -560px;
    position: absolute;
    width: 1500px;
    margin-top: 100px;
    
}
.page-company li {
    margin: 0px;
    display: inline;
    margin-right: 80px;
}


.page-grid {
    margin-top: 210px;
}
.page-grid .grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
    text-transform: capitalize;
}
.page-grid .grid h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}
.page-grid .grid_elem h3 {
    font-weight: 600;
    font-size: 20px;
    color: #192b59;
}
.page-grid .grid_elem a {
    color: #1085e4;
    font-size: 14px;
    font-weight: 600;
}
.page-grid .grid div:last-child p:last-child {
    font-weight: 400;
    color: #1085e4;
    font-size: 14px;
}
.page-grid .grid div:last-child p:last-child span{
    font-weight: 700;
    color: #192b59;
    font-size: 16px;
}


.page-subscribe img:first-child {
    position: absolute;
    max-height: 100%;
}
.page-subscribe div {
    position: relative;
}
.page-subscribe h3 {
    font-weight: 600;
    font-size: 50px;
    color: #ffffff;
}
.page-subscribe h3 span {
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    color: #00bffe;
    display: block;
}
.page-subscribe .btn-sub {
    padding: 13px 42px;
    letter-spacing: 2.85px;
    font-size: 14px;
}


.page-software h2, .page-state h2{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-software dt {
    font-size: 16px;
    font-weight: 700;
    color: #5a6789;
}
.page-software dd {
    font-size: 14px;
}

.page-state h2 span {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    color: #1085e4;
    display: block;
}
.page-state li {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #1085e4;
    list-style-type: none;
    display: inline-block;
    margin-right: 80px;
}
.page-state li span {
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
    display: block;
    line-height: 50px;
}


.page-app h2, .page-possibility-1 h2, .page-possibility-2 h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-app h3 {
    font-size: 16px;
    font-weight: 700;
    color: #c4d2dd;
    text-transform: uppercase;
}
.page-app li {
    list-style-type: none;
    display: inline;
}

.page-possibility-2 .btn-lrn {
    padding: 20px 62px;
}

.page-details h2{
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}
.page-details h2 span {
    color: #1085e4;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
}


.page-clients p {
    font-size: 14px;
}
.page-clients div p:nth-child(2) {
    font-weight: 600;
    font-size: 22px;
    color: #000958;
}
.page-clients div p:last-child {
    font-weight: 700;
    font-size: 14px;
    color: #1085e4;
    text-transform: uppercase;
}
.page-clients h2 {
    font-weight: 600;
    font-size: 40px;
    color: #fff;
}
.page-clients h2 span{
    font-weight: 800;
    font-size: 18px;
    color: #85c8ff;
    text-transform: uppercase;
    display: block;
}


.page-plans h2 {
    font-weight: 600;
    font-size: 40px;
    color: #192b59;
}
.page-plans h2 span {
    font-weight: 800;
    font-size: 18px;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}
.page-plans .box-plans .inactive h3 {
    font-weight: 700;
    font-size: 70px;
    color: #000958;
}
.page-plans .box-plans .inactive p {
    font-weight: 700;
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
}
.page-plans .box-plans .inactive li {
    font-weight: 400;
    font-size: 14px;
    color: #8085b1;
    list-style-type: none;
}

.page-plans .box-plans div:nth-child(2) h3 {
    font-weight: 700;
    font-size: 70px;
    color: #fff;
}
.page-plans .box-plans div:nth-child(2) h3 span:first-child {
    font-size: 20px;
}
.page-plans .box-plans div:nth-child(2) h3 span:last-child {
    font-size: 20px;
    color: #7b8ab2;
}
.page-plans .box-plans div:nth-child(2) p {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}
.page-plans .box-plans div:nth-child(2) li {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    list-style-type: none;
}
.page-plans .box-plans div:last-child h3 {
    font-weight: 700;
    font-size: 70px;
}
.page-plans .box-plans div:last-child h3 span:first-child {
    font-size: 20px;
}
.page-plans .box-plans div:last-child h3 span:last-child {
    font-size: 20px;
    color: #7b8ab2;
}
.page-plans .btn-info {
    padding: 20px 61px;
}
.page-plans .btn-inct {
    color: #8085b1;
    background: transparent;
    border: 2px solid #dce1e5;
}


.page-team h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.page-team h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #85c8ff;
    text-transform: uppercase;
    display: block;
}
.page-team div p:first-child {
    font-size: 14px;
    font-weight: 800;
    color: #1a88e1;
    text-transform: uppercase;
}
.page-team div p:last-child {
    font-size: 26px;
    font-weight: 600;
    color: #192b59;
}


.page-form h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}
.page-form form input {
    width: 514px;
	height: 70px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	background-color: #fff;
	border: solid 2px rgba(72,72,72,.1);
    text-indent: 30px;
    display: block;
}
.page-form form textarea {
    width: 514px;
	height: 160px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	background-color: #fff;
	border: solid 2px rgba(72,72,72,.1);
    text-indent: 30px;
    text-size-adjust: 100px;
    padding-top: 20px;
    display: block;
}
.page-form form button {
    width: 230px;
	height: 60px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 700;
    border: 0;
}


.footer p {
    font-size: 16px;
    font-weight: 400;
    color: #b6bae0;
}
.footer p a {
    font-size: 16px;
    font-weight: 400;
    color: #1085e4;
    text-transform: uppercase;
}
.footer li {
    display: inline;
}
